/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-text-color: #ff0070;
  --title-color: #db00ff;
  --cover-image: url(../images/cover-image-dark.png);
  --main-text-bg: #ff0070;
  --primary-text-color: #000028;
  --accent-link-shadow: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
  --title-shadow-color: #ff0070;
  --main-text-color: #f1b2ce;
  --rec-color: #ff0070;
}
