/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-text-color: #353430;
  --title-color: #ffc2e6;
  --cover-image: url(../images/cover-image-light.png);
  --main-text-bg: #ff8dcb;
  --primary-text-color: #353430;
  --accent-link-shadow: #ff8dcb;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --title-shadow-color: #ff0070;
  --main-text-color: #353430;
  --rec-color: transparent;
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-text-color: #353430;
    --title-color: #ffc2e6;
    --cover-image: url(../images/cover-image-light.png);
    --main-text-bg: #ff8dcb;
    --primary-text-color: #353430;
    --accent-link-shadow: #ff8dcb;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --title-shadow-color: #ff0070;
    --main-text-color: #353430;
    --rec-color: transparent;
  }
}
