:root {
  --accent-text-color: #ff0070; /*nav bg */
  --title-color: #db00ff; /*header title and footer title*/
  --cover-image: url(../images/cover-image-dark.png); /* body bg */
  --main-text-bg: #ff0070;
  --primary-text-color: #000028; /* heading h3 */
  --accent-link-shadow: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
  --link-hover: #f1b2ce;
  --rec-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-shadow-color: #ff0070;
  --p-text-color: #f1b2ce;
  --accent-font: 'IBM Plex Mono', monospace;
  --background-color: #000028;
  --bg-accent-text: #ff0070;
  --button-hover-color: rgb(50 49 45 / 0.4);
}
